<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
	<meta charset="UTF-8">
	<title>Login</title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="@{/css/index.css}">
	

</head>  
<body>
    <form class="formulario" th:action="@{/login}" method="POST">
        <a href="index.html" class="logo"><div align="center"><img src="../img/logo.png" class="avatar" alt="Avatar Image" width="60" ></div></a>
    <h1>Login</h1>
     <div class="contenedor">
     
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input type="text" name="email" placeholder="Correo Electronico">
         
         </div>
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input type="password" placeholder="Contraseña">
         </div>
         </div>
         <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19; margin-bottom: 10px;">Correo o contraseña invalido</p>
        </div>
         <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          </div>
         <input type="submit" value="Ingresar" class="button">
         <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         <p>¿No tienes una cuenta? <a class="link" href="@{/register}">Registrate </a></p>
     </div>
    </form>
</body>
</html>