<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
	<title>Registro</title>
</head>
<body>
	<form th:action="@{/register}" th:object="${usuario}" method="POST"
		class="formulario">
		<a href="index.html" class="logo"><div align="center">
				<img th:src="@{/img/logo.png}" class="avatar" alt="Avatar Image"
					width="60">
			</div></a>
		<h1>Registrate</h1>
		<div class="contenedor">
			<!-- Control ataque csrf -->
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			<!-- fin Control ataque csrf -->
			<small class="form-text text-danger"
					th:if="${error}" th:text="${error}"></small>
			<div class="input-contenedor">
				<i class="fas fa-user icon"></i> <input type="text"
					th:field="*{username}" placeholder="Ingrese Nombre de Usuario">
			</div>

			<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
					th:errors="*{email}"></small>
			<div class="input-contenedor">
				<i class="fas fa-envelope icon"></i> <input type="text"
					th:field="*{email}" placeholder="Ingrese Correo"> 
			</div>

			<small class="form-text text-danger"
					th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
			<div class="input-contenedor">
				<i class="fas fa-key icon"></i> <input type="password"
					th:field="*{password}" placeholder="Ingrese nueva Contraseña">
			</div>

			<input type="submit" value="Registrate" class="button">
			<p>Al registrarte, aceptas nuestras Condiciones de uso y Política
				de privacidad.</p>
			<p>
				Ya tienes una cuenta?<a class="link" href="login.html">Iniciar
					Sesion</a>
			</p>
		</div>
		<b><span class="text-danger" style="display:block;margin-bottom:20px;text-align:center;" th:utext="${successMessage}"></span></b>
	</form>

	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/header_footer.js}"></script>
</body>
</html>